.container{
    cursor: pointer;
    display: flex;
border: 2px solid var(--color-primary);
border-radius: 30px;
padding: 2px;
align-items: center;
position: relative;
}
.icon{
font-size: 20px;
}
.switcher{
width: 25px;
aspect-ratio: 1/1;
background-color: var(--color-primary);
border-radius: 50%;
 position: absolute;
 
}