.post{
    display: flex; 
   align-items: center;
    gap: 50px;
    margin-bottom: 50px;
    border: 1px solid #555;
    border-radius: 15px;
    padding: 10px;
}
.post:nth-child(odd){
    flex-direction: row-reverse;
}
.post :hover{
    color:var(--color-primary);
}
.content{
    flex-direction: column;
}
.image{
object-fit: cover;
border-radius: 15px;
}
.title{
   font-weight: 700; 
}
.text{
    font-size: 18px;
    color: #999;
}

